GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
RATE_LIMIT_REQUESTS=30
RATE_LIMIT_WINDOW_SECONDS=60
DEFAULT_RESULT_LIMIT=20
MAX_RESULT_LIMIT=20
MIN_SEARCH_RADIUS_METERS=100
MAX_SEARCH_RADIUS_METERS=5000
SEARCH_CACHE_TTL_SECONDS=180
FRONTEND_ORIGIN=http://127.0.0.1:5173
